.Detail-Container{
  display: flex;
  gap:5%;
  margin-left:5%;
  margin-top: 1%;
}

.Detail-Titre{
  color: gray;
  font-family: Algerian;
  font-size: 40px;
}
.Detail-Overview{
  color: white;
  margin-top: 1%;
  font-family: Calibri;
  font-size: 20px;
}
.Detail-Budget{
  color: white;
  margin-top: 1%;
  font-family: Calibri;
  font-size: 20px;
}
.Detail-Date{
  color: white;
  margin-top: 1%;
  font-family: Calibri;
  font-size: 20px;
}
.Detail-Langue{
  color: white;
  margin-top: 1%;
  font-family: Calibri;
  font-size: 20px;
  ;
}
.Detail-Vote{
  color: white;
  margin-top: 1%;
  font-family: Calibri;
  font-size: 20px;
}
.Detail-Genre{
  color: white;
  margin-top: 1%;
  font-family: Calibri;
  font-size: 20px;
}
.Detail-Compagnies{
  color: white;
  margin-top: 1%;
  font-family: Calibri;
  font-size: 20px;
}
h2{
  color: #0a58ca;
}
