<div class="Detail-Container">
  <div class="Detail-Image">
    <img src="https://image.tmdb.org/t/p/w500/{{film.poster_path}}">
  </div>
  <div class="Details">
    <div class="Detail-Titre">
      {{film.title}}
    </div>
    <div class="Detail-Overview">
      <h2>Overview : </h2>{{film.overview}}
    </div>
    <div class="Detail-Date">
      <h2>Date de Sortie : </h2>{{film.release_date}}
    </div>
    <div class="Detail-Budget">
      <h2>Budget : </h2>{{film.popularity}} $
    </div>
    <div class="Detail-Langue">
      <h2>Langue Officiel : </h2>{{film.original_language}}
    </div>
    <div class="Detail-Vote">
      <h2>Votes : </h2>{{film.vote_count}}
    </div>
    <div class="Detail-Genre">
      <h2>Genres : </h2>{{genres}}
    </div>
    <div class="Detail-Compagnies">
      <h2>Companies : </h2>{{companies}}
    </div>

  </div>
</div>
